In [2]:
import pandas as pd

## NWS dataset

In [3]:
nws_df = pd.read_csv("finished_nws_tweets.csv")

In [4]:
nws_df.drop(labels = "Unnamed: 0", axis = 1, inplace = True)

In [5]:
nws_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
0,NWS,1433266083369295874,2021-09-02 03:10:37,You are putting your rescuers lives at risk wh...,0,NaN
1,NWS,1433265712873754627,2021-09-02 03:09:09,"Most flood fatalities occur in vehicles, and i...",0,NaN
2,NWS,1433253854393602048,2021-09-02 02:22:02,A Flash Flood Emergency is issued for exceedin...,0,NaN
3,NWS,1433250109488304131,2021-09-02 02:07:09,Whoa! A Flash Flood Emergency remains in effec...,1,Flood
4,NWS,1433245552934899713,2021-09-02 01:49:02,Move to higher ground now! This is an extremel...,1,Flood
...,...,...,...,...,...,...
994,NWS,1366731113788538881,2021-03-02 12:44:24,Dangerously cold wind chills across portions o...,0,NaN
995,NWS,1366533353936203776,2021-03-01 23:38:35,An intense area of low pressure near the Canad...,0,NaN
996,NWS,1366458030934679554,2021-03-01 18:39:16,Gusty winds and dangerously cold wind chills a...,0,NaN
997,NWS,1366431484861702148,2021-03-01 16:53:47,"While these storms are a half a world away, th...",0,NaN
998,NWS,1366413324955574276,2021-03-01 15:41:38,It's already March!\nIts the first day of mete...,0,NaN

## Fire dateset

In [6]:
columns_names = ['Unnamed: 0', 'source_name', 'tweet_id', 'post_time', 'tweet_texts', 'Disaster_or_not', 'Category']
fire_df = pd.read_csv("CAL_FIRE_tweets_finish.csv", names = columns_names, skiprows = 1, nrows = 755)

In [7]:
fire_df.drop(labels = 'Unnamed: 0', axis = 1, inplace = True)
fire_df.replace(to_replace = ['fire', 'fire\n'], value = 'Fire', inplace = True)

In [8]:
fire_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
0,CAL_FIRE,1.433280e+18,2021-09-02 03:47:17,#WashingtonFire near Golf Links Road and Highw...,1,Fire
1,CAL_FIRE,1.433260e+18,2021-09-02 02:27:11,#AirolaFire off Parrotts Ferry Rd and Airola R...,1,Fire
2,CAL_FIRE,1.433260e+18,2021-09-02 02:26:35,"#DixieFire above the Cresta Dam, Feather River...",0,NaN
3,CAL_FIRE,1.433250e+18,2021-09-02 02:11:21,"#CaldorFire near Little Mountain, south of Pol...",0,NaN
4,CAL_FIRE,1.433250e+18,2021-09-02 02:11:05,"#FrenchFire near Sawmill Rd and NF-25S02, west...",1,Fire
...,...,...,...,...,...,...
750,CAL_FIRE,1.409710e+18,2021-06-29 02:56:52,#LillyFire off of Road 400 and Lilley Mountain...,1,Fire
751,CAL_FIRE,1.409710e+18,2021-06-29 02:54:33,#StoweFire off of California Avenue and Lyn Av...,1,Fire
752,CAL_FIRE,1.409700e+18,2021-06-29 02:45:27,"#ShellFire near Interstate 5 and Grapevine Rd,...",1,Fire
753,CAL_FIRE,1.409700e+18,2021-06-29 02:42:00,New Incident: #BeswickFire off of Ager-Beswick...,1,Fire
754,CAL_FIRE,1.409700e+18,2021-06-29 02:39:10,Assisting/Not a CAL FIRE Incident: #TennantFir...,0,NaN

## Earthquake dataset

In [9]:
earthquake_df = pd.read_csv('USGS_Quakes_tweets_finish.csv', names = columns_names, skiprows = 1)
earthquake_df.drop('Unnamed: 0', axis = 1, inplace = True)
earthquake_df = earthquake_df.astype({'Disaster_or_not': 'int64'})

In [10]:
#find row that has null: earthquake_df[earthquake_df['Disaster_or_not'].isnull() == True]

In [11]:
earthquake_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
0,USGS_Quakes,1432884770128728066,2021-09-01 01:55:25,@PikesPeakARES @PikesPeakARES Indeed! We've go...,0,NaN
1,USGS_Quakes,1432882268108853250,2021-09-01 01:45:29,Want to know more about how the SF Bay Area te...,0,NaN
2,USGS_Quakes,1432882266284331008,2021-09-01 01:45:28,What can you do to help? \nAfter an earthquake...,0,NaN
3,USGS_Quakes,1432882259133009925,2021-09-01 01:45:26,Most of the SF Bay Areas macro cell sites are ...,0,NaN
4,USGS_Quakes,1432882257291743239,2021-09-01 01:45:26,High network usages combined with strained res...,0,NaN
...,...,...,...,...,...,...
995,USGS_Quakes,1311702305344040960,2020-10-01 16:19:34,The swarm of earthquakes in the Salton Trough ...,0,NaN
996,USGS_Quakes,1311699329929957376,2020-10-01 16:07:45,@AustrebertoMtz @SCEC The small &amp; moderate...,0,NaN
997,USGS_Quakes,1311697207800852480,2020-10-01 15:59:19,@Radikator66 @Radikator66,0,NaN
998,USGS_Quakes,1311696725904629761,2020-10-01 15:57:24,The ongoing earthquake swarm in the Brawley Se...,0,NaN
999,USGS_Quakes,1311688390350385152,2020-10-01 15:24:16,"@alanlcit During an earthquake sequence, the r...",0,NaN

## Volcano dataset

In [45]:
volcanoe_df = pd.read_csv('USGSVolcanoes_tweets_finish.csv', names = ['source_name', 'tweet_id', 'post_time', 'tweet_texts', 'Disaster_or_not', 'Category'], skiprows = 1)

In [46]:
volcanoe_df = volcanoe_df.astype({'Disaster_or_not': 'int64'})

In [47]:
volcanoe_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
0,USGSVolcanoes,1.434880e+18,2021-09-06 14:02:37,In the north part of Yellowstone National Park...,0,NaN
1,USGSVolcanoes,1.433868e+18,2021-09-03 19:01:30,Cascade volcanoes at normal background levels ...,0,NaN
2,USGSVolcanoes,1.433840e+18,2021-09-03 17:11:15,New #Kilauea webcam monitors area of Aug 2021 ...,0,NaN
3,USGSVolcanoes,1.433573e+18,2021-09-02 23:29:16,"Eruption? Intrusion? What's the difference, an...",0,NaN
4,USGSVolcanoes,1.433476e+18,2021-09-02 17:04:15,Reading the rainbow: recent magmatic intrusion...,0,NaN
...,...,...,...,...,...,...
725,USGSVolcanoes,1.290420e+18,2020-08-03 22:53:06,"44 earthquakes, 6 eruptions of Steamboat Geyse...",0,NaN
726,USGSVolcanoes,1.290291e+18,2020-08-03 14:18:32,Hayden Valley is a grassy haven for wildlife w...,0,NaN
727,USGSVolcanoes,1.289602e+18,2020-08-01 16:41:32,#Yellowstone Volcano Observatory monthly updat...,0,NaN
728,USGSVolcanoes,1.289309e+18,2020-07-31 21:14:53,CVO Weekly Update: All Cascade Range volcanoes...,0,NaN
729,USGSVolcanoes,1.289243e+18,2020-07-31 16:55:19,"July 25, 2019--ponded water was observed in #H...",0,NaN

## Tsunami dataset

In [48]:
tsunami_df = pd.read_csv("NWS_NTWC_tweets_finish.csv", names = ['source_name', 'tweet_id', 'post_time', 'tweet_texts', 'Disaster_or_not', 'Category'], skiprows = 1)

In [49]:
tsunami_df = tsunami_df.astype({'Disaster_or_not': 'int64'})

In [50]:
tsunami_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
0,NWS_NTWC,1.434777e+18,2021-09-06 7:15:10,"Tsunami Info Stmt: M4.2 035mi NW Yakutat, Alas...",0,NaN
1,NWS_NTWC,1.434330e+18,2021-09-05 1:36:40,"Tsunami Info Stmt: M4.2 030mi NW Yakutat, Alas...",0,NaN
2,NWS_NTWC,1.432738e+18,2021-08-31 16:13:50,"Tsunami Info Stmt: M4.2 035mi SE Monterey, Cal...",0,NaN
3,NWS_NTWC,1.432540e+18,2021-08-31 3:05:11,Tsunami Info Stmt: M6.5 Kermadec Islands Regio...,0,NaN
4,NWS_NTWC,1.429561e+18,2021-08-22 21:47:15,Tsunami Info Stmt: M7.2 South Sandwich Islands...,0,NaN
...,...,...,...,...,...,...
994,NWS_NTWC,6.653524e+17,2015-11-14 2:16:00,Tsunami Info Stmt: M3.8 050Mi NE Cape Yakataga...,0,NaN
995,NWS_NTWC,6.652731e+17,2015-11-13 21:00:44,Tsunami Info Stmt: M7.0 northwest of the Ryuky...,0,NaN
996,NWS_NTWC,6.648589e+17,2015-11-12 17:34:44,"Tsunami Info Stmt: M5.1 070Mi SW Atka Village,...",0,NaN
997,NWS_NTWC,6.642623e+17,2015-11-11 2:04:10,Tsunami Info Stmt: M6.6 off the coast of centr...,0,NaN
998,NWS_NTWC,6.637501e+17,2015-11-09 16:08:50,"Tsunami Info Stmt: M6.3 085Mi SW Amukta Pass, ...",0,NaN

In [51]:
tsunami_df.dtypes

source_name         object
tweet_id           float64
post_time           object
tweet_texts         object
Disaster_or_not      int64
Category            object
dtype: object

## Concatenate datasets

In [52]:
frames = [nws_df, fire_df, earthquake_df, volcanoe_df, tsunami_df]
disaster_df = pd.concat(frames)
disaster_df = disaster_df.replace('\n', '', regex = True)
disaster_df = disaster_df.sample(frac = 1)
disaster_df

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
346,USGS_Quakes,1.382345e+18,2021-04-14 14:49:22,3) The NEIC pursues an active research program...,0,NaN
585,USGSVolcanoes,1.337564e+18,2020-12-12 1:05:07,#Cascade Range #volcanoes at normal background...,0,NaN
336,CAL_FIRE,1.426380e+18,2021-08-14 02:51:54,New Incident: #CoyoteFire off State Highway 29...,1,Fire
324,USGSVolcanoes,1.366404e+18,2021-03-01 15:02:56,Geologists look for big things in small packag...,0,NaN
216,NWS_NTWC,1.280671e+18,2020-07-08 1:12:18,"Tsunami Info Stmt: M5.0 130mi SW Kodiak City, ...",0,NaN
...,...,...,...,...,...,...
755,USGS_Quakes,1.333851e+18,2020-12-01 19:10:32,Would you like to forecast how the ground will...,0,NaN
677,NWS_NTWC,9.113177e+17,2017-09-22 19:53:57,"Tsunami Info Stmt: M5.8 140mi SW Eureka, Calif...",0,NaN
738,NWS,1.383207e+18,2021-04-16 23:52:35,Heavy showers &amp; thunderstorms along a stal...,0,NaN
346,CAL_FIRE,1.426000e+18,2021-08-13 01:48:45,#RedFlagWarning in effect for Northern Califor...,1,Fire
151,NWS_NTWC,1.318313e+18,2020-10-19 22:08:02,Mon Oct 19 22:08:01 UTC 2020 event picture,0,NaN

In [53]:
disaster_df.iloc[2174].tweet_texts

'New Incident: #BartFire off of Ridgeview Road and Black Bart Drive, South of Willits in Mendocino County is 20 acres. @CALFIRE_MEU '

In [57]:
disaster_df.to_csv("multi_task_disasters.csv", index = False)

In [55]:
disaster_df.isnull().sum()

source_name           0
tweet_id              0
post_time             0
tweet_texts           1
Disaster_or_not       0
Category           3333
dtype: int64

In [16]:
disaster_df[disaster_df['tweet_texts'].isnull() == True]

,source_name,tweet_id,post_time,tweet_texts,Disaster_or_not,Category
64,CAL_FIRE,1.432190e+18,2021-08-30 04:03:02,NaN,0,NaN

In [56]:
disaster_df.drop(64, axis = 0, inplace = True)

# Datasets from CrisisNLP

## Earthquake

In [17]:
crisisnlp_earthquake_df = pd.read_csv("CrisisNLP/earthquakes_crisisnlp.tsv", sep='\t')

In [18]:
crisisnlp_earthquake_df = crisisnlp_earthquake_df[crisisnlp_earthquake_df['lang'] == 'en']

In [19]:
crisisnlp_earthquake_df = crisisnlp_earthquake_df[['text', 'label']]
crisisnlp_earthquake_df['label'].replace({'non-eyewitness': '1', "don't know": '0', 'indirect-eyewitness': '1', 
                                          'direct-eyewitness': '1'}, inplace = True)
crisisnlp_earthquake_df.drop(4, axis = 0, inplace = True)

In [20]:
crisisnlp_earthquake_df['Category'] = 'Earthquake'
crisisnlp_earthquake_df.loc[crisisnlp_earthquake_df.label == '0', "Category"] = 'None'
crisisnlp_earthquake_df.rename(columns = {'text': 'tweet_texts', 'label': 'Disaster_or_not'}, inplace = True)
crisisnlp_earthquake_df = crisisnlp_earthquake_df.astype({'Disaster_or_not': 'int64'})

In [21]:
crisisnlp_earthquake_df

,tweet_texts,Disaster_or_not,Category
0,#earthquake Magnitude 2.1 occurred 159km NE of...,1,Earthquake
1,Retweeted Earthquakes Tsunamis (@NewEarthquake...,1,Earthquake
2,I always know I need to go shopping when I've ...,0,None
3,Update: M2.0 #earthquake (#sismo) strikes 1 km...,1,Earthquake
5,i deadass want this in my bedroom but if a ear...,0,None
...,...,...,...
1995,My phone keeps going off like I'm under attack...,0,None
1996,Your come-on lines sound disastrous Noise more...,0,None
1997,The saddest part of graduating is that I never...,0,None
1998,What we want is a story that starts with an ea...,0,None
1999,The walls of this earthquake-proof National Ta...,0,None

In [22]:
crisisnlp_earthquake_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Flood

In [23]:
crisisnlp_flood_df = pd.read_csv("CrisisNLP/floods_crisisnlp.tsv", sep='\t')

In [24]:
crisisnlp_flood_df = crisisnlp_flood_df[crisisnlp_flood_df['lang'] == 'en']
crisisnlp_flood_df = crisisnlp_flood_df[['text', 'lable']]
crisisnlp_flood_df['lable'].replace({'non-eyewitness': '1', "don't know": '0', 'indirect-eyewitness': '1', 
                                          'direct-eyewitness': '1', 'vulnerable direct-eyewitness': '1'}, inplace = True)
crisisnlp_flood_df['Category'] = 'Flood'
crisisnlp_flood_df.loc[crisisnlp_flood_df.lable == '0', 'Category'] = 'None'
crisisnlp_flood_df.rename(columns = {'text': 'tweet_texts', 'lable': 'Disaster_or_not'}, inplace = True)
crisisnlp_flood_df = crisisnlp_flood_df.astype({'Disaster_or_not': 'int64'})
crisisnlp_flood_df

,tweet_texts,Disaster_or_not,Category
0,There are still like 8473 bugs. This is the wo...,1,Flood
1,I am now at the right bank to cross the flood....,1,Flood
2,859 PM MDT: Very heavy rain near Red Bluff Lak...,1,Flood
3,The thunder and heavy rainfall woke me up seve...,1,Flood
4,Got a little bit of rain today #onstorm #orang...,1,Flood
...,...,...,...
1995,So lay me down let the only sound be the overf...,0,None
1996,"like 3 ppl told me to let my car flood, be sca...",0,None
1997,@HiddenXperia When you do another flood video.,0,None
1998,How to Pronounce Dirt Rave Ã¢â€ ÂºRTÃ¢,0,None
1999,Blast Off July 2016 Mixed by Shusei overflow h...,0,None

In [25]:
crisisnlp_flood_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Hurricanes

In [26]:
crisisnlp_hurricane_df = pd.read_csv("CrisisNLP/hurricanes_crisisnlp.tsv", sep='\t')

In [27]:
crisisnlp_hurricane_df = crisisnlp_hurricane_df[crisisnlp_hurricane_df['lang'] == 'en']
crisisnlp_hurricane_df = crisisnlp_hurricane_df[['text', 'Lable']]
crisisnlp_hurricane_df['Lable'].replace({'non-eyewitness': '1', "don't know": '0', 'indirect-eyewitness': '1', 
                                          'direct-eyewitness': '1', 'vulnerable-direct witness': '1'}, inplace = True)
crisisnlp_hurricane_df['Category'] = 'Hurricane'
crisisnlp_hurricane_df.loc[crisisnlp_hurricane_df.Lable == '0', 'Category'] = 'None'
crisisnlp_hurricane_df.rename(columns = {'text': 'tweet_texts', 'Lable': 'Disaster_or_not'}, inplace = True)
crisisnlp_hurricane_df = crisisnlp_hurricane_df.astype({'Disaster_or_not': 'int64'})
crisisnlp_hurricane_df

,tweet_texts,Disaster_or_not,Category
0,I'm at the outer edge of the projected hurrica...,1,Hurricane
1,school was cancelled today due to the heavy ra...,1,Hurricane
2,"So much shit is happening to us in Texas,, hur...",1,Hurricane
3,sooo last year it decides to flood right befor...,1,Hurricane
4,So we're having an earthquake AND a hurricane ...,1,Hurricane
...,...,...,...
1995,Was Hurrican Harvey a HAARP induced event? HAA...,0,None
1996,@FEMA_Brock Oh great! Higher premium to pay fo...,0,None
1997,I am fascinated with natural disasters. I love...,0,None
1998,In the nuclear era and petrolithic era every h...,0,None
1999,"There is no such thing as a ""get the Gov't out...",0,None

In [28]:
crisisnlp_hurricane_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Fire

In [29]:
crisisnlp_fire_df = pd.read_csv("CrisisNLP/fires_crisisnlp.tsv", sep='\t')

In [30]:
crisisnlp_fire_df = crisisnlp_fire_df[crisisnlp_fire_df['please_choose_a_category_:confidence'] > 0.6]
crisisnlp_fire_df = crisisnlp_fire_df[['text', 'please_choose_a_category_']]
crisisnlp_fire_df['please_choose_a_category_'].replace({'direct_eyewitness': '1', "dont_know": '0',
                                                        'noneyewitness': '1'}, inplace = True)
crisisnlp_fire_df['Category'] = 'Fire'
crisisnlp_fire_df.loc[crisisnlp_fire_df.please_choose_a_category_ == '0', 'Category'] = 'None'
crisisnlp_fire_df.rename(columns = {'text': 'tweet_texts', 'please_choose_a_category_': 'Disaster_or_not'}, inplace = True)
crisisnlp_fire_df = crisisnlp_fire_df.astype({'Disaster_or_not': 'int64'})
crisisnlp_fire_df

,tweet_texts,Disaster_or_not,Category
0,Damn this Canadian Wildfire got the whole city...,1,Fire
1,Devastating to see such widespread destruction...,1,Fire
2,Sonoma county is covered in heavy thick black ...,1,Fire
3,"Day 6 of the wildfire, Day 4 of being evacuate...",1,Fire
4,I guess the smoke from the wildfires here in C...,1,Fire
...,...,...,...
1993,Holy crap I ve never seen nor breathed such th...,1,Fire
1994,If anyone needs dog food or just some water or...,1,Fire
1996,It's getting VERY close to home https://t.co/Y...,1,Fire
1997,If this is north of me right now that'd explai...,1,Fire
1998,Before the wildfire #emergency #preparation #p...,1,Fire

In [31]:
crisisnlp_fire_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Volcano

In [32]:
crisisnlp_volcano_df = pd.read_csv("CrisisNLP/crisisnlp_volcano.csv")

In [33]:
crisisnlp_volcano_df = crisisnlp_volcano_df[[' tweet_text', 'label']]
crisisnlp_volcano_df['label'].replace({'Not related to crisis': '0', 'Informative': '1', 
                                       'Not informative': '0', 'Non-government': '0'}, inplace = True)
crisisnlp_volcano_df['Category'] = 'Volcano'
crisisnlp_volcano_df.loc[crisisnlp_volcano_df.label == '0', 'Category'] = 'None'
crisisnlp_volcano_df.rename(columns = {' tweet_text': 'tweet_texts', 'label': 'Disaster_or_not'}, inplace = True)
crisisnlp_volcano_df = crisisnlp_volcano_df.astype({'Disaster_or_not': 'int64'})
crisisnlp_volcano_df.drop([3,4], axis = 0, inplace = True)
crisisnlp_volcano_df

,tweet_texts,Disaster_or_not,Category
0,Iceland volcano: On Tour... ICELANDIA Around I...,0,None
1,#vscocam #vsco #iceland #islanda #walk #canon ...,0,None
2,RT @jilleeeebean: Iceland killed 88 endangered...,0,None
5,"USGS: M 5.0 - 128km NNE of Vik, Iceland: DYFI?...",1,Volcano
6,RT @Caspar_Lee: Last night I had a dream that ...,0,None
...,...,...,...
411,RT @beforeitsnews: Icelandï¿½Ûªs volcano situatio...,1,Volcano
412,Iceland Evacuates Area Near Bardabunga Volcano...,1,Volcano
413,RT @johnseach: #Bardarbunga magma moving towar...,1,Volcano
414,Safe travels...no immediate threat! Iceland Li...,1,Volcano
415,Iceland Evacuates Area Near Bardabunga Volcano...,1,Volcano

In [34]:
crisisnlp_volcano_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Tornado

In [35]:
crisisnlp_tornado_df = pd.read_csv("CrisisNLP/crisisnlp_tornado.csv")

In [36]:
crisisnlp_tornado_df.drop(1047, axis = 0, inplace = True)
crisisnlp_tornado_df = crisisnlp_tornado_df[crisisnlp_tornado_df['choose_one:confidence'] > 0.5]
crisisnlp_tornado_df = crisisnlp_tornado_df[['text_no_rt', 'predicted']]
crisisnlp_tornado_df['predicted'].replace({'Informative (Indirect)': '1', 'Informative (Direct)': '1',
                                          'Personal message': '0', 'Other': '0'}, inplace = True)
crisisnlp_tornado_df['Category'] = 'Tornado'
crisisnlp_tornado_df.loc[crisisnlp_tornado_df.predicted == '0', 'Category'] = 'None'
crisisnlp_tornado_df.rename(columns = {'text_no_rt': 'tweet_texts', 'predicted': 'Disaster_or_not'}, inplace = True)
crisisnlp_tornado_df = crisisnlp_tornado_df.astype({'Disaster_or_not': 'int64'})
crisisnlp_tornado_df

,tweet_texts,Disaster_or_not,Category
0,Cruuuuud. Tornado warning for Denton County. A...,1,Tornado
2,Tornado on the ground in Azle headed right tow...,1,Tornado
3,US tornado toll rises to 122 (AFP) http://dlvr...,1,Tornado
4,US tornado toll rises to 122 (AFP) http://dlvr...,1,Tornado
5,Tornado sirens. This is scary.,1,Tornado
...,...,...,...
2377,Of course... Amazon pays for me to go on a tri...,0,None
2378,Tornado warning && im home alone...if I hear s...,0,None
2379,please pray for the tornado victims.. PLEASE..,0,None
2380,awful news RT @cnnbrk: Joplin Missouri where a...,0,None
2381,A tornado is supoose to come thru coppell in 3...,0,None

In [37]:
crisisnlp_tornado_df.dtypes

tweet_texts        object
Disaster_or_not     int64
Category           object
dtype: object

## Concatenate CrisisNLP datasets

In [38]:
frames = [crisisnlp_earthquake_df, crisisnlp_flood_df, crisisnlp_fire_df, crisisnlp_hurricane_df, 
          crisisnlp_volcano_df, crisisnlp_tornado_df]
crisisnlp_disaster_df = pd.concat(frames)
crisisnlp_disaster_df = crisisnlp_disaster_df.replace('\n', '', regex = True)
crisisnlp_disaster_df = crisisnlp_disaster_df.sample(frac = 1)
crisisnlp_disaster_df

,tweet_texts,Disaster_or_not,Category
331,"#gif #you https://t.co/CZnJoSqsEj rain, storm,...",0,None
395,#science Suomi NPP satellite continues to moni...,0,None
56,We have flooding in Bibb county bc of several ...,1,Flood
537,this is the second time i experienced an earth...,1,Earthquake
456,Travis Meyer says I should be making preparati...,1,Tornado
...,...,...,...
1953,Follow @kskinder for storm updates. He's track...,0,None
1890,"""I want my mind to be filled with thoughts of ...",0,None
1636,They Might Be Giants - Flood Perhaps the most ...,0,None
106,@calebturmanATOR when isn't there a tornado wa...,1,Tornado
544,"Cause, baby, weÃ¢â‚¬â„¢re just reckless kids trying...",0,None

In [39]:
crisisnlp_disaster_df.isnull().sum()

tweet_texts        1
Disaster_or_not    0
Category           0
dtype: int64

In [40]:
crisisnlp_disaster_df[crisisnlp_disaster_df['tweet_texts'].isnull() == True]

     tweet_texts  Disaster_or_not Category
1909         NaN                0     None

In [41]:
crisisnlp_disaster_df.drop(1909, axis = 0, inplace = True)

In [42]:
crisisnlp_disaster_df.to_csv("crisisnlp_disaster_df.csv", index = False)

## Concate CrisisNLP data with self-pulled data

In [ ]:
frames = [crisisnlp_disaster_df, disaster_df]
full_disaster_df = pd.concat(frames)
full_disaster_df.to_csv("full_disaster_df.csv", index = False)
full_disaster_df

In [ ]:
full_disaster_df_2 = pd.read_csv("full_disaster_df.csv")
full_disaster_df_2[full_disaster_df_2['Disaster_or_not'].isnull() == True]
full_disaster_df_2.drop([1415,1416,1417,4652,7626,7627,7628,7629,7630,10121,10122,10123,10124,10125], 
                        axis = 0, inplace = True)
full_disaster_df_2 = full_disaster_df_2.astype({'Disaster_or_not': 'int64'})
full_disaster_df_2.to_csv("full_disaster_df.csv", index = False)
full_disaster_df_2.dtypes